<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>BuzzBall</title>
</head>
<body>
	<h1>Buzzball</h1>
	
	<div id="header">
		<a href="/galleries">List of Galleries</a>
	</div>
	
	<!-- -------------------------------------------- -->

	<div>
		<h3>Add a Gallery Event:</h3>
		<form action="/galleries" method="POST">
			<ul>
		        <li><input type="text" name="name" placeholder="Gallery Name" /></li>
		        <li><input type="text" name="event" placeholder="Event Name" /></li>
		        <li><input type="text" name="neighborhood" placeholder="Neighborhood" /></li>
		        <li><input type="text" name="address" placeholder="Street Address" /></li>
		        <li><input type="text" name="opening_date" placeholder="Opening Date" /></li>
		        <li><input type="text" name="open_thru" placeholder="Open Thru" /></li>
		    </ul>
	        
	        <button>Submit</button>
	    </form>
	</div>

	<footer>"blahblaherryone'sacritiqueblahblah"</footer>

</body>